<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CarLog</title>
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="./css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="./css/main.css">
	<!-- Javascript Libraries -->
	<script src="./js/lib/angular.js"></script>
	<script src="./js/lib/angular-route.js"></script>
	<script src="./js/lib/ui-bootstrap.min.js"></script>   
	<script src="./js/lib/firebase.js"></script>
	<script src="./js/lib/angularfire.js"></script>
	<script src="./js/lib/moment.min.js"></script>
	<!-- [END] Javascript Libraries -->
	<script src="./js/main.js"></script>
	<script src="./js/entry.js"></script>
	<script src="./js/logs.js"></script>
</head>
<body ng-app="main">
	<h2>CarLog</h2>

	<div class="collapse navbar-collapse" ng-controller="NavCtrl">
		<ul class="nav navbar-nav">
			<li ng-repeat="opt in options" ng-class="{ active: isActive(opt.link)}"><a href="{{'#'+opt.link}}">{{opt.name}}</a></li>
		</ul>
	</div>

	<div class="container" ng-view></div>

</body>
</html>
